body {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
    
}





.main-container{
    background: #eee;
    margin: 30px 8px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.image{
    
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;

}

section {
    display: block;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}